<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.ulpgc.eite.showyou.android">

    <uses-sdk android:minSdkVersion="16"
              android:targetSdkVersion="22" />


    <application android:allowBackup="true" android:label="@string/app_name"
                 android:icon="@drawable/icon_bq" android:theme="@style/AppTheme"
                 android:name=".mediator.ShowYouMediatorSingleton">


        <activity
                android:name=".screen.startPage.portrait.PortraitStartpageView"
                android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".screen.startPage.landscape.LandscapeStartpageView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.bio.portrait.PortraitBioView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.bio.landscape.LandscapeBioView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.marcas.master.portrait.PortraitMarcasMasterView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.marcas.master.landscape.LandscapeMarcasMasterView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.media.portrait.PortraitMediaView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.media.landscape.LandscapeMediaView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.noticias.portrait.PortraitNoticiasView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.noticias.landscape.LandscapeNoticiasView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".screen.contacto.portrait.PortraitContactoView"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.contacto.landscape.LandscapeContactoView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.eventos.portrait.PortraitEventosView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.eventos.landscape.LandscapeEventosView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>










    </application>

</manifest>

