<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.ulpgc.eite.showyou.android">

    <uses-sdk android:minSdkVersion="16"
              android:targetSdkVersion="22" />


    <application android:allowBackup="true" android:label="@string/app_name"
                 android:icon="@drawable/icon_bq" android:theme="@style/AppTheme"
                 android:name=".mediator.ShowYouMediatorSingleton">


        <!-- STARTPAGE -->
        <activity
                android:name=".screen.startPage.portrait.PortraitStartpageView"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".screen.startPage.landscape.LandscapeStartpageView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!-- BIO -->
        <activity
                android:name=".screen.bio.portrait.PortraitBioView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.bio.landscape.LandscapeBioView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!-- MARCAS -->
        <activity
                android:name=".screen.marcas.portrait.PortraitMarcasMasterView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.marcas.landscape.LandMarcasMasterView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.marcas.portrait.PortraitMarcasDetailView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.marcas.landscape.LandMarcasDetailView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!-- MEDIA -->
        <activity
                android:name=".screen.media.portrait.PortraitMediaView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.media.landscape.LandscapeMediaView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!-- NOTICIAS -->
        <activity
                android:name=".screen.noticias.portrait.PortraitNoticiasView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.noticias.landscape.LandscapeNoticiasView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!-- CONTACTO -->
        <activity
            android:name=".screen.contacto.portrait.PortraitContactoView"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.contacto.landscape.LandscapeContactoView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!-- EVENTOS -->
        <activity
                android:name=".screen.eventos.portrait.PortraitEventosMasterView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.eventos.landscape.LandEventosMasterView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".screen.eventos.portrait.PortraitEventosDetailView"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
                android:name=".screen.eventos.landscape.LandEventosDetailView"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

    </application>

</manifest>

